.ivf-main{
padding: 2% 2% 2% 2%;
}
.ivf-container{
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
   padding:30.375px;
}
.ivf-wrap{
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.ivf-head{
    color: #ff8630;
    font-family: "Poppins", Sans-serif;
    font-size:35px;
    line-height:1;
    margin-bottom: 10px;
}

.ivf-bold-con{
font-size: 16px;
font-family: "Poppins", Sans-serif;
color: #333333;
line-height: 1;
margin: 20px 0px;
}

.ivf-bold-con > ul > li{
     margin: 10px;
    }


    .em-para{
        margin-bottom: 25px;
        text-align: left;
        color: #000000C2;
        font-family: "Poppins", Sans-serif;
        font-size: 17px;
        font-weight: 400;
        padding: 30px;
    }